@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  color: inherit;
}

button {
  background-color: #ddd;
  padding: 4px 14px;
  cursor: pointer;
  border: none;
  font-size: 13px;
}
button:hover {
  background-color: #bbb;
}
button:active {
  background-color: #999;
}